@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.selected-post {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @include tablet {
        padding: 0 4rem 3rem;
    }

    @include desktop {
        padding: 0 1rem 3rem;
    }

    &__main {
        @include tablet {
            display: flex;
            gap: 2.5rem;
        }
    }

    &__codes {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 1rem; 
        @include tablet {
            flex: 1;
        }
    }

    &__more {
        @include tablet {
            width: 35%;
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__avatar {
        width: 2rem;
        margin-right: 1rem;
    }

    &__username {
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }

        &:hover {
            filter: invert(82%) sepia(93%) saturate(430%) hue-rotate(2deg) brightness(91%) contrast(87%);
        }
    }

    &__timestamp {
        margin-left: 0.5rem;
        color: grey;

        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__title {
        font-size: 1.5rem;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__editor {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem 0 1rem 1rem;
        background-color: #EEEEEE;

        &--preview {
            background-color: transparent;
            padding: 0;
            overflow: hidden;
        }
    }

    &__editor-header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        padding: 0.5rem 0;
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__copy-code {
        width: 2rem;
        margin-left: 0.5rem;
        cursor: pointer;

        &:hover {
            filter: invert(22%) sepia(21%) saturate(3865%) hue-rotate(225deg) brightness(94%) contrast(97%);
        }
    }

    &__editor-code {
        height: 20rem;
        border: none;
        resize: none;
        background-color: #EEEEEE;
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.4rem;
        }

        &--preview {
            height: 40rem;
            padding: 0;
        }
    }

    &__description {
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    &__actions {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
    }

    &__action-button {
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
    }

    &__action-icon {
        width: 2rem;
        margin-right: 0.5rem;

        &--like {
            &:hover {
                filter: invert(69%) sepia(73%) saturate(7156%) hue-rotate(308deg) brightness(98%) contrast(94%);
            }
        }

        &--comment {
            &:hover {
                filter: invert(65%) sepia(39%) saturate(7412%) hue-rotate(149deg) brightness(94%) contrast(97%);
            }
        }

        &--bookmark {
            &:hover {
                filter: invert(38%) sepia(97%) saturate(4762%) hue-rotate(348deg) brightness(98%) contrast(94%);
            }
        }
    }
}