@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.selected-post {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    &__main {
        @include tablet {
            display: flex;
            gap: 2rem;
        }
    }

    &__codes {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem; 
        @include tablet {
            flex: 1;
        }
    }

    &__more {
        @include tablet {
            width: 35%;
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__avatar {
        width: 2rem;
        margin-right: 1rem;
    }

    &__title {
        font-size: 2rem;
    }

    &__editor {
        display: flex;
        flex-direction: column;
    }

    &__editor-header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__copy-code {
        width: 2rem;
        margin-left: 0.5rem;
        cursor: pointer;
    }

    &__editor-code {
        height: 20rem;
        border: 2px solid black;
        padding: 0.5rem;
        resize: none;

        &--preview {
            height: 30rem;
        }
    }

    &__actions {
        padding: 1rem 0;
        display: flex;
        gap: 1rem;
    }

    &__action-button {
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
    }

    &__action-icon {
        width: 2rem;

        &--comments {
            margin-right: 0.5rem;
        }
    }
}