@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.submit-post {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @include tablet {
        padding: 0 4rem 3rem;
    }

    @include desktop {
        padding: 0 1rem 3rem;
    }

    &__title {
        &--mobile {
            font-size: 1.75rem;
            @include tablet {
                display: none;
            }
        }

        &--td {
            display: none;

            @include tablet {
                display: block;
                font-size: 2rem;
            }

            @include desktop {
                font-size: 2.5rem;
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        @include tablet {
            gap: 2.5rem;
            flex-direction: row;
        }
    }

    &__form-title {
        font-size: 1.3rem;
        margin: 0.5rem 0 1rem;

        &--prompter {
            color: white;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__codes {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include tablet {
            gap: 2.5rem;
            flex: 1;
        }
    }

    &__editor {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem 0 1rem 1rem;
        background-color: #EEEEEE;

        &--preview {
            background-color: transparent;
            padding: 0;
            overflow: hidden;
        }
    }

    &__editor-code {
        height: 20rem;
        border: none;
        resize: none;
        background-color: #EEEEEE;
        font-size: 1.3rem;

        @include tablet {
            font-size: 1.5rem;
        }

        &:focus {
            outline: none;
        }

        &--preview {
            height: 40rem;
            padding: 0;
        }
    }

    &__forms {
        @include tablet {
            width: 35%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__form-detail {
        display: flex;
        flex-direction: column;
    }

    &__form-input {
        height: 3rem;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 1rem;
        font-family: inherit;

        &--description {
            height: 9rem;
            resize: none;
        }

        &--prompter {
            background: transparent;
            border-color: white;
            color: white;
        }

        &:focus {
            outline: none;
        }
    }

    &__file-input {
        &::file-selector-button {
            background-color: white;
            border: 1px solid black;
            border-radius: 1rem;
            padding: 1rem;
            font-family: 'Geist Mono';
            font-size: 1.3rem;
            cursor: pointer;

            @include desktop {
                font-size: 1.5rem;
            }
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;
    }

    &__post-button {
        width: 50%;
        margin-top: 2rem;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        background-color: white;
        font-size: 1.3rem;
        cursor: pointer;

        &--prompter {
            width: 100%;
            background-color: transparent;
            border-color: white;
            color: white;
        }

        @include desktop {
            font-size: 1.5rem;
        }

        &:hover {
            transform: scale(1.025);
        }
    }

    &__prompter {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 1rem;
        background: linear-gradient(45deg, #6366f1, #8b5cf6);
        box-shadow: 0 0 20px rgba(99, 102, 241, 0.5);
        animation: glow 2s ease-in-out infinite alternate;

        @include tablet {
            margin-top: 5.5rem;
        }

        @include desktop {
            margin-top: 3rem;
        }
    }

    @keyframes glow {
        from {
          box-shadow: 0 0 20px rgba(99, 102, 241, 0.5);
        }
        to {
          box-shadow: 0 0 30px rgba(99, 102, 241, 0.8);
        }
    }
}