@use './mixins.scss' as *;
@use './typography.scss' as *;
@use './variables.scss' as *;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Geist Mono', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: black;
}

button {
    font-family: inherit;
    color: inherit;
}