@use './variables.scss' as *;

@mixin small-device {
    @media screen and (min-width: $small-device-breakpoint) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin small-desktop {
    @media screen and (min-width: $small-desktop-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin site-button {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    font-size: 1.3rem;
    cursor: pointer;

    @include desktop {
        font-size: 1.5rem;
    }
}