@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.3rem;

    @include tablet {
        font-size: 1.4rem;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__profile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__avatar {
        width: 2rem;
        margin-right: 1rem;
    }

    &__username {
        &:hover {
            filter: invert(82%) sepia(93%) saturate(430%) hue-rotate(2deg) brightness(91%) contrast(87%);
        }
    }

    &__timestamp {
        margin-left: 0.5rem;
        color: gray;
    }

    &__comment {
        margin-top: 1rem;
        margin-left: 3rem;
    }
}