@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;

    @include tablet {
        padding: 3rem 4rem;
    }

    @include desktop {
        padding: 3rem 1rem;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            transform: scale(1.025);
        }
    }

    &__logo-icon {
        width: 3rem;
        margin-right: 1.25rem;

        @include desktop{
            margin-right: 1.5rem;
        }
    }

    &__logo-title {
        font-size: 2rem;
        font-weight: bold;

        @include desktop {
            font-size: 2.25rem;
        }
    }

    &__nav {
        display: none;

        @include small-desktop {
            display: flex;
            gap: 2rem;
            list-style: none;
            font-weight: bold;
        }
    }

    &__nav-link {
        cursor: pointer;

        &:hover {
            color: orange;
        }

        @include desktop {
            font-size: 1.75rem;
        }
    }

    &__user-pages {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__bookmark {
        width: 1.75rem;
        cursor: pointer;

        &:hover {
            filter: invert(38%) sepia(97%) saturate(4762%) hue-rotate(348deg) brightness(98%) contrast(94%);
        }

        @include tablet {
            width: 2rem;
        }

        @include desktop {
            width: 2.5rem;
        }
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        cursor: pointer;
    }

    &__avatar {
        width: 2rem;

        @include desktop {
            width: 2.5rem;
        }
    }

    &__username {
        display: none;

        @include tablet {
            font-weight: bold;
            display: block;

            &:hover {
                filter: invert(82%) sepia(93%) saturate(430%) hue-rotate(2deg) brightness(91%) contrast(87%);
            }
        }

        @include desktop {
            font-size: 1.75rem;
        }
    }
}