@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.feed-post {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
    padding-bottom: 1rem;
    
    &__header {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__username {
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__timestamp {
        margin-left: 0.5rem;
        font-size: 1.25rem;
        color: grey;
    }

    &__avatar {
        width: 2rem;
        margin-right: 1rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        cursor: pointer;
    }

    &__media-container {
        display: flex;
        justify-content: center;
    }

    &__media {
        width: 100%;
    }

    &__actions {
        display: flex;
    }

    &__action-container {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;

        &--bookmark {
            margin-left: auto;
            margin-right: 0;
        }
    }

    &__action-icon {
        width: 2rem;
    }
}